{% extends 'LsiBiblioBundle::layout.html.twig' %}

{% block title %}
	Nouvelle collection
{% endblock %}

{% block menu_suite %}
	<a href="" class="current">Collection</a>
{% endblock %} 

{% block column_w610 %}
	<div class="header_01">Nouvelle collection</div> 

    {{ form(form) }}
 
{% endblock %}
